<?php
/**
 * generate by adconsole 1.0.0
 * @author: Indev Web www.dein.net.br
 * @mail team@indev.net.b
 */

class $class extends AdiantiRecordService
{
    const DATABASE      = '$database';
    const ACTIVE_RECORD = '$model';
}